@charset "utf-8";
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(./fontello.css);
@import url(./normalize.css);
/* 기본 박스 사이징 재 설정 
(width에 border-width와 padding을 포함하여 계산) */
*, *::before, *::after{
  box-sizing: border-box;
}
/* 숨김 콘텐츠 */
.a11y-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip: rect(0,0,0,0);
  clip-path: polygon(0 0, 0 0, 0 0);
}
/* CSS Module */
/* float 이슈를 해결하기 위한 CSS 선언 */
.clearfix::after{
  display: block;
  content: "";
  clear: both;
}
/* 기본 설정 */
a{
  text-decoration: none;
  color: inherit;
}
html{
  font-size: 10px;
}
body{
  font-size: 1.4rem;
  color: #181818;
  background-color: #ccc;
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  font-weight: 300;
  background-image: linear-gradient(180deg, #ccc 0%, #eee 30%, #fff 60%, #fff 100%);
}

.container{
 
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}
.header, .visual, .main, .slogan, .footer{
  box-sizing: border-box;
  width: 940px;
  margin: 0 auto;
}
.header{
  background-color: #fff;
  border-radius: 0 0  15px 15px;
  padding: 0 30px;
  position: relative;
}

/* 로고 */
.logo{
  margin: 0;
  position: absolute;
  top: 45px;
  left: 62px;
  /* z-index: 10; */
}
/* 멤버 링크 */
.member{
  margin: 0;
  padding: 2px 0;
  list-style-type: none;
  text-align: right;
  font-size: 0;
  position: relative;
  right: -10px;
}
.member li, .member a{
  display: inline-block;
}
.member li{
  font-size: 1.4rem;
}
.member li:nth-child(n+2)::before{
  content: ":";
  margin: 0 2px;
}
.member a{
  text-transform: uppercase;
  padding: 8px 10px;
}
/* 메인 메뉴 */
.navigation{
  padding-bottom: 50px;
}
.menu{
  height: 47px;
  list-style: none;
  padding-left: 229px;
  margin: 0;
  border-top: 2px solid #000;
  background: linear-gradient(to bottom, #E8852E 0%,#ED552F 35%,#ED552F 70%,#E8852E 100%);
  background-color: #ED552F;
  /* box-shadow: 0 -10px 0 0 #000; */
}
.menu-item{
  outline: none;
  position: relative;
  float: left;
  border-left: 2px solid rgba(255,255,255,0.3);
}
.menu-button{
  color: #fff;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 45px;
  padding: 0 20px;
  display: block;
  text-shadow: 
              1px 0 0 #000, 
              -1px 0 0 #000,
              0 1px 0 #000, 
              0 -1px 0 #000;
  cursor: pointer;
}
.menu-act .menu-button{
  color: #ff0;
}
.menu-act .menu-button::after{
  content: "";
  display: block;
  border-top: 2px solid #000;
  background-color: green;
}
.submenu{
  list-style: none;
  padding-left: 0;
  margin: 0;
  position: absolute;
  display: none;
  white-space: nowrap;
  top: 47px;
}
.menu-act .submenu{
  display: block;
}
.menu li:nth-child(-n+3) .submenu{
  left: 0;
}
.menu li:nth-child(n+4) .submenu{
  right: 0;
}
.submenu li, .submenu a{
  display: inline-block;
}
.submenu a{
  padding: 8px 10px;
}
.visual{
  height: 120px;
  position:relative;
}
@keyframes bgAni{
  0%{opacity:1;}
  0%{opacity:0.5;}
  100%{opacity:0;}
}
.visual::before, .visual::after{
  content:'';
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-repeat:no-repeat;
  animation:bgAni 2s infinite alternate;
}
/* 위와같이 가상요소로 상자를 만든다 */
.visual::before{
  background-image:
  url(./images/ani_flower_01.png),
  url(./images/ani_flower_02.png);
  background-position: 0 -10px, 670px 0;

}
.visual::after{
  background-image:
  url(./images/ani_flower_03.png),
  url(./images/ani_flower_04.png);
  background-position: 300px 0, 800px 0;
  animation-delay: 1s;
}
@keyframes textAni{
  0%{

    font-size:12px;
    color: rgba(0,0,0,0);
    transform: translate(0,0);
  }
  100%{
    font-size:24px;
    color: rgba(0,0,0,1);
    transform: translate(400px,80px);
  }
}
.visual-text{
  display:inline-block;
  position:absolute;
  animation-name:textAni;
  animation-duration: 2000ms;
  animation-fill-mode: forwards;
  animation-delay: 1000ms;
  color: rgba(0,0,0,0);
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.main{
  display: flex;
  /* flex-direction: row; */
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 30px 15px;
  background-color: #fff;
  /* padding: 30px 15px; */
}

.group{
  /* float: left;
  height: 60vh;
  margin: 0 15px; */
}
.group1{
  width: 250px;
}
.group2{
  width: 380px;
}
.group3{
  width: 190px;
}
/* 로그인 */
.login{
  background-color: #ed552f;
  background-image: radial-gradient(circle at right top, #e8852e, #ed552f);
  box-shadow: 5px 5px 0 0 #aaa;
  border-radius: 5px;
  padding: 10px;
}
.login-heading{
  margin: 0;
  font-size: 1.5rem;
  color: #ff0;
  text-indent: 10px;
}
.login-form{
  background-color: #fff;
  border-radius: 5px 5px 0 0;
  margin-top: 10px;
  padding: 10px 10px 0 10px;
}
.login-form fieldset{
  position: relative;
  border: 0 none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #aaa;
  padding-bottom: 5px;
}
.user-email, .user-pw{
  margin-bottom: 5px;
}
.login-form label{
  width: 4em;
  display: inline-block;
}
.login-form input{
  width: 90px;
  height: 22px;
  border: 1px solid #aaa;
  padding: 1px 1px 1px 5px;
}
.btn-login{
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border: 1px solid #ed552f;
  border-radius: 3px;
  background-color: #e8852e;
  color: #fff;
  padding: 0;
  font-size: 1.3rem;
  font-weight: 400;
}
.sign{
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 2px 10px;
  font-size: 1.3rem;
}
.sign .icon-right-open::before{
  color: #ed552f;
  margin: 0;
}
.sign a{
  display: inline-block;
  padding: 8px 0;
}
.validation-list{
  margin:25px 0 0 0;
  padding-left:0;
  list-style:none;
}
.validation-list li{


}
.validation-list a{
    display: block;
    border: 1px solid #aaa;
    border-radius: 35px;
    margin-top: 10px;
    padding: 7px 10px 8px 45px;
    background: url(./images/validation_icon.png) no-repeat 20px 50%,
    #ccc 
    linear-gradient(180deg, #bbb, #eee);
  /*위에서 아래로 줄때는 180deg이기 때문에 굳이 줄 필요없다*/
}
/* 웹관련 용어 */
.term{
  background:yellow;
  padding:15px;
  background:
  #ccc linear-gradient(180deg, #bbb, #eee);
  border:1px solid #aaa;
  border-radius:5px;
  margin-top:20px;
}
.term h2{
  margin:0 0 15px 0;
  font-size:1.6rem;
}
.term .term-list{
  margin:0;
}
.term .term-list::after{
  content:"";
  display:block;
  clear:both;
}
.term .term-list-subject{
  float:right;
  color:#296897;
  font-weight:400;
  margin-bottom:10px;
  margin-top:-3px;
}
.term .term-list dd{
  margin-left:0;
  font-size:1em;
}
.term dl .term-list-thumbnail{
  float:left;
  background:lime;
}
.term dl .term-list-thumbnail img{
  vertical-align: top;
  /*이미지 크기 잡을때는 이미지가 인라인 속성이기 때문에 버티컬얼라인 탑 
  또는 display:block를 준다*/
}
.term dl .term-list-brief{
  float:right;
  line-height:1.4em;
}
.term .term-list-subject, .term-list-brief{
  width:145px;
}
.even{
  margin-top:15px;
}
.even .term-list-subject{
  float:left;
}
.even .term-list-thumbnail{
  float:right;
}
.term .even .term-list-brief{
  float:left;
}
.term .even .term-list-thumbnail{
  float:right;
}
/* 검색 창 */
.search-form{
  background: #ccc linear-gradient(180deg, #bbb, #eee);
  border: 1px solid #aaa;
  border-bottom: #fff;
  border-radius: 15px 15px 0 0;
  padding: 15px 25px 10px 25px;
}
.search-form fieldset{
  border: 0;padding: 0; margin: 0;
}
.search-form input[type="search"]{
  width: 190px;
  margin: 0 4px;
  padding: 1px 1px 1px .5em;
}
.search-form label, .search-form input[type="search"], .btn-search{
  vertical-align: middle;
}
.search-form input[type="search"], .btn-search{
  height: 24px; border: 1px solid #aaa; border-radius: 3px;
}
.btn-search{
  color: #fff;
  background-color: #333;
  padding: 0 8px;
  font-size: 1.2rem;
}
/* 공지사항 및 자료실 */
.board{
  width:380px;
  position:relative;  
  padding-top:45px;
}
.notice-list, .notice-more, .pds-list, .pds-more{
  display:none;
}
.board-act .notice-list, .board-act .notice-more,
.board-act .pds-list, .board-act .pds-more{
  display:block;
}
.tab{
  font-weight:400;
  margin:0;
  font-size:1.4rem;
  position: absolute;
  top:0;
}
.tab a{
  display:block;
  padding:8px 10px;
  border:1px solid #aaa;
  border-radius:5px 5px 0 0;
  color:#888;
  background:#ccc linear-gradient(180deg, #bbb, #eee);
  /* 그라디언트속성을 지원안할경우 대비해 앞에 #ccc 처럼 배경을 넣어논다 */
}
.board-act .tab a{
  background:#fff;
  color:#ed552f;
  border-color:#ed552f #ed552f #fff #ed552f;
}
.notice-heading{
  left:0;
}
.pds-heading{
  left:76px;
}
.notice-list, .pds-list{
  margin:0;
  padding:0;
  list-style: none;
}
.notice-list li, .pds-list li{
  margin-bottom:8px;
  /* overflow:hidden; */
  display:flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.notice-list li::before, .pds-list li::before{
  /* float:left; */
}
.notice-list a, .pds-list a{
  /* float:left;
  width:280px; */
  flex-grow: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  /* white-space,text-overflow,overflow 이세개는 세트로 다녀야된다 */
}
.notice-list time, .pds-list time{
  /* float:right; */
  /* margin-left:auto;   */
}

.notice-more, .pds-more{
  position: absolute;
  top:-8px;
  right:-8px;
  padding:8px;
}
.notice-more .icon-plus, .pds-more .icon-plus{
  color: hsla(110deg, 50%, 30%, 1)
  /* hsla 3번째는 명도, 공부해보기 */
}
/* 새소식 */
.news{
  position: relative;
}
.news::before{
  content:'';
  position: absolute;
  background:#333 linear-gradient(90deg, #bbb, #EEE );
  width:80%;
  height:10px;
  top:35px;
  left:0;
}
.news-heading{
  color:#ed552f;
  font-size:1.5rem;
  margin:0 0 35px 0;

}
.news-link{

  display: block;
}
.news-item{
  padding-left:125px;
  position: relative;
  min-height:100px;
}
.news-item-subject{
  margin:0 0 5px 0;
  font-size:1.4rem;
  font-weight:400;
}
.news-item-brief{
  margin:10px 0 0 0;
  line-height:1.6;

}
.news-item-thumbnail{
  position: absolute;
  top: 0;
  left: 0;
  text-align:Center;
  margin:0;
}
.news-item-thumbnail img{
  box-shadow: 0 15px 15px 2px #aaa;
}
.news-more{
  position: absolute;
  top: -8px;
  right:-8px;
  padding:8px;
}
.news-more .icon-plus{
  color: hsla(110deg, 50%, 30%, 1)
}
/* 신규 이벤트 및 관련 사이트 */
.event{
    position:relative;  
    border-bottom-color: #777;;
}
.event-heading, .related-heading{
  font-size:1.5rem;
  margin-left:15px;
}
.event-heading, .related-heading .point-color{
  color:#ed552f;
}
.event-thumbnsil{
  text-align:center;
}
.event-thumbnail img{
  box-shadow: 5px 5px 0 0 #888;
  position:relative;
}
.event-brief{

}
.gradient-box{
  background:#ccc linear-gradient(180deg, #bbb, #eee);
  padding:10px;
  border:1px solid #e2e2e2; 
  border-radius:5px;
 /* 리니어 그라디언트 는 bbb= 시작컬러 , eee 끝나는컬로 위의 예시 */
}
.btn-event{
    position: absolute;
    top:0;
    right:0;
  }
.btn-event .btn-event-prev, .btn-event-next{
    width:19px;
    height:18px;
    border:0;
    padding:18px 0 0;
    background-image: url(../images/back_forward.png);
    overflow:hidden;
    cursor: pointer;
    vertical-align: middle;
}
.btn-event-prev{
    /* background: url(../images/back_forward.png) no-repeat 0;
    text-indent: -150px;
    width: 19px;
    border: 0;
    overflow:hidden; */
    background-position: 0 0;

}
    .btn-event-next{
    /* background: url(../images/back_forward.png) no-repeat 100%;
    text-indent: -150px;
    width: 19px;
    border: 0;
    overflow:hidden; */
    background-position: 100% 0;
}
/* 개당 27px 세로 / 147px */
.related{
  padding-top:10px;
  border-top: 1px solid #888;
}
.related .related-list{
  list-style:none;
  background: #fff;
  border: 1px solid #888;
  border-radius: 5px;
  padding:0;
  margin:0;
  height:27px;  
  overflow:hidden;
  transition-property: height, padding;
  transition-duration: 400ms;
  transition-delay: 200ms, 400ms; /*시퀀스 애니메이션:순차적으로 적용*/
  transition-timing-function: ;
}
.related .related-list li{
  height:27px;
  padding:2px;  
}
.related .related-list li a{
  display:block;
  line-height:20px;
  text-indent:2em;

}
.related .related-list:hover, .related-list:focus{
  height:147px;
  padding:10px 0;

}
/* 인기 사이트 */
.favorite{
  margin-top:20px;
  position:relative;
}
.favorite h2{
  margin-top:0;
  font-size:1.5rem;
}
.favorite-headeing .point-color{
  color:#ed552f;
}
.favorite .favorite-list{
  margin:0;
  padding:0;
  list-style:none;
}
.favorite ol li{
  counter-increment:step-counter;
  margin-bottom:10px;
  position: relative;
  font-size:24x;
}
.favorite ol li::before{
  content: counter(step-counter);
  margin-right: 5px;
  font-size: 1.2rem;
  background-color: #999999;
  color: white;
  font-weight: bold;
  padding: 2px 5px;
  border-radius: 2px;
  display:inline-block;
}
.favorite ol li em{
  width:9px;
  height:0;
  padding-top:11px;
  overflow:hidden;
  background:url(../images/rank.png) no-repeat;  
  /* float:right; */
  position: absolute;
  top:50%;
  right:0;
  margin-top:-5px;
}
.favorite ol em::after{
  content:'';

}
.favorite-list .up{
  background-position: 0 0;
}
.favorite-list .stop{
  background-position: 0 50%;
}
.favorite-list .down{
  background-position: 0 100%;
}
.favorite-more{
  position: absolute;
  top:2px;
  right:2px;
  padding:8px;
}
/*슬로건*/
.slogan{
  background: #fff;
  padding: 10px 80px 10px 200px;
  position: relative;
}
.slogan-heading{
  margin: 0;
  width: 110px;
  height: 83px;
  line-height: 83px;
  position: absolute;
  left: 50px;
  bottom: -35px;
  text-align: center;
  font-size: 1.4rem;
}
.bg-slogan{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(./images/coffee.png) no-repeat;
  z-index: 10;
}
.slogan-content{
  color: #a09784;
  font-size: 1.5rem;
}
.slogan-content q::before{
  font-size: 3.5rem;
  position: relative;
  top: 10px;
}
.slogan-content q::after{
  content: "";
}
.slogan-content em{
  font-style: normal;
}
.footer-bg{
  background-color: #ccc;
  background-image: linear-gradient(180deg, #ccc 0%, #eee 30%, #fff 60%, #fff 100%);
  /* display: flex;
  flex-direction: row;
  justify-content: center; */
}
.footer{

  position:relative;
  padding: 10px 140px 20px 140px;
}
.footer .footer-logo{
  position: absolute;
  top:50px;
  left:22px;
}
.footer .guide-list{
  display: flex;
  list-style: none;
  background: #7b8385;
  border: 1px solid #7b8385;
  padding: 10px;
  border-radius: 7px;
  color: #fff;
  justify-content: space-around;  
  font-weight:400;
}
.footer .badge{
  position: absolute;
  right: 21px;
  top: 13px;  
}